 .ami{

    
     
    border: 9px solid gray;
    margin: 6px;
    padding: 7px;
    text-align: justify;
     
     
 }
 h2{
    color: greenyellow;
      
 }
 .twin{
    color: lightcoral;
     

 }
 .nai{
    background-image: url('../jjj.jpg');
 }